@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", system-ui;
  background-color: #F8F8F8;
  color: #353535;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
